body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 20px;
}
.king{
    color: rgb(255, 0, 217);
}
.half{
    width: 40%;
    float: left;
    margin: 4%;
    padding: 2%;
}
.Too img{
    width: 500px;
    float: right;
    margin: 4%;
}