body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 20px;
}
.king{
    color: rgb(255, 0, 217);
}
.half{
    width: 40%;
    float: left;
    margin: 4%;
    padding: 2%;
}
.Too img{
    width: 500px;
    float: right;
    margin: 4%;
}
.top{
    background-image: url("images/ch.webp");
    background-repeat: no-repeat;
}
section{
    height: 80px;
}
.bolt{
    text-decoration: none;
    background-image: linear-gradient(45deg, green, blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
}